/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Page layout: boards on opposite sides */
.game{
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 40px;
}

/* Board styling */
#LeftBoard,
#RightBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 400px;
  height: 400px;
  border: 2px solid black;
}
#LeftBoard>div,
#RightBoard>div {
    border: 1px solid black;
} 
/* Individual cells (added via JS) */
.cell {
  width: 100%;
  height: 100%;
  border: 1px solid #333; /* remove if you want ZERO lines */
  background-color: #222;
}
